/*Admin page start here*/
table.sorting tr:not(.home){
    cursor:pointer;
}

.ui-state-highlight{
    border:1px dashed #a92828;
}

div.new-cat{
    margin-top:30px;
    position:relative;
}

span.ajax-text{
    display:none;
}

table.sorting.categories td{
    padding:15px;
}

.ajaxdivtd{
    position:absolute;
}

/*Front - end Starts here*/

span.loader{
    display:none;
}

.ajaxmsg{
    background:#1fe447;
    color:#b8acd7;
    padding:10px;
    display:none;
    position:absolute;
    bottom:0px;
}

.ajaxcart{
    position:relative;
    top:5px;
}

.ib{
    display:inline-block !important;
}